*
{
    margin:0px;
    padding:0px;
}

#header
{
 background-color:#1ea4e7;
 width:auto;
 height:60px;
 color:white;
 text-align:center;
 padding-top:30px;
 font-size:25px;
}
#nav
{
 background-color:black;
 width:auto;
 height:30px;
 color:white;
 word-spacing:80px;
 

float:left;
clear:both;
 }
 #sec1
{
    float:left;
    width:30%;
    height:300px;
    color:white;
    border:1px solid #1ea4e7;

}
 
b
{
    font-family: "Times New Roman", Times, serif;
    margin-top:50px;
    margin-left:10px;
}